<!DOCTYPE html>
<html ng-app="administration" ng-cloak>

<head>
  <title>
      <%= title %>
  </title>
  <base href="/" />
  <!-- css -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fonts/awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/administration.css' />

  <link rel='stylesheet' href='/stylesheets/administrationWithRemote.css' />

  <link rel='stylesheet' href='/custom/<%= idCompanyAndUser.company_shortname %>/header.css' />
  <link rel='stylesheet' href='/stylesheets/nav.css' />
  <!-- <link rel='stylesheet' href='/stylesheets/style-headerNoLogo.css' /> -->
  <link rel='stylesheet' href='/stylesheets/style-alerts-bottom.css' />
  <link rel='stylesheet' href='/stylesheets/button.css' />


  <!-- angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js" defer></script>

  <script type="text/javascript" src="controllers/administrationController.js" defer></script>

</head>

<body ng-controller="AdministrationController as bck" ng-init="init(<%= user %>)">


  <div id="header">

    <% if (idCompanyAndUser.company_shortname != "DEMO") { %>
      <%= include header %>
    <% } else {%>
      <%= include headerNoLogo %>
    <% } %>

  </div>




    <div id="container">
      <%= include nav %>

      <%= include anagraphicWithRemote %>

    </div>



    <div class="footer">

        <%= include footer %>
    </div>
</body>

</html>
