<!DOCTYPE html>
<html ng-app="ctrlPanel">

<head>
  <title>
    <% title %>
  </title>
  <base href="/" />
  <!-- css -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic' rel='stylesheet' type='text/css'> -->
  <link rel='stylesheet' href='/fonts/roboto.css'  type='text/css'>
  <link rel="stylesheet" href="/fonts/awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/custom/<%= idCompanyAndUser.company_shortname %>/header.css' />
  <link rel='stylesheet' href='/stylesheets/nav.css' />
  <link rel='stylesheet' href='/stylesheets/button.css' />
  <!-- <link rel='stylesheet' href='/stylesheets/style-headerNoLogo.css' /> -->
  <link rel='stylesheet' href='/stylesheets/style-ctrlpanel.css' />

  <!-- login logo -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="/fonts/css/font-awesome.min.css">

  <!-- sockets for signaling -->
  <script type="text/javascript" src="/socket.io/socket.io.js" defer></script>

  <!-- angular -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js" defer></script> -->
  <script src="../javascripts/lib/angular.min.js" defer></script>

  <!-- server -->
  <script type="text/javascript" src="javascripts/lib/adapter.js" defer></script>
  <script type="text/javascript" src="javascripts/rtcClient.js" defer></script>
  <script type="text/javascript" src="controllers/ctrlpanelController.js" defer></script>

</head>

<body class="nobackground" ng-controller="MainCtrl">
  <div id="header">

    <% if (idCompanyAndUser.company_shortname != "DEMO") { %>
      <%= include header %>
    <% } else {%>
      <%= include headerNoLogo %>
    <% } %>

  </div>



  <div id="container">
    <%= include nav %>

    <div class="card padding1 monocol">

      <div class="title">
        User data
      </div>

      <button name="view-deactivate" class="adduser-button btn-lg nopadding nomargin" ng-click="open = !open" ng-disabled="ngViewDisabled">
      <i class="fa fa-pencil-square-o"></i>
      </button>
        <%= include edituserform_ctrlpanel %>

      <div id="account-body">
        <div class="line-separator"></div>
        <div ng-repeat='obj in result'>
          <div class="results" ng-repeat='(key,value) in obj'>
            <span style="color: #7FB539">{{key}}</span> <span>: {{value}}</span>
          </div>
          <div class="line-separator"></div>
        </div> <!-- end ng-repeat obj -->

      </div> <!-- end account-body -->
    </div>

  </div>  <!-- end container -->

  <div class="footer">
      <%= include footer %>
  </div>

</body>

</html>
